<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <div class="card">
                <div class="card-header"><a class="nav-link" [routerLink]="['/']">HackyBox</a></div>
                <nav class="nav flex-column">
                    <a class="nav-link active" [routerLink]="['/tool', 'memfind']">memfind</a>
                    <a class="nav-link active" [routerLink]="['/tool', 'protocol-handlers']">protocol-handlers</a>
                </nav>
            </div>
        </div>
        <div class="col-11">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>