<div class="container-fluid">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <!-- z-index:10 чтобы инпут поле не перекрывало badge во время фокуса  -->
                    <button class="btn btn-outline-secondary" tabindex="-1" style="z-index:10;">
                        filter
                        <span
                            class="badge rounded-pill bg-secondary position-absolute top-0 start-100 translate-middle">
                            {{filteredHandlers.length}}
                        </span>
                    </button>
                    <input class="form-control" type="text" [(ngModel)]="filterValue" placeholder="filter" tabindex="1">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <button class="btn btn-outline-secondary" tabindex="-1" (click)="maxCount()">all</button>
                    <input class="form-control" type="text" [(ngModel)]="count" type="number">
                </div>
            </div>
            <div class="col-3">
                <app-table-pager [pageCount]="pageCount" [pageIndex]="pageIndex"
                    (pageIndexChanged)="onPageIndexChanged($event)"></app-table-pager>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <button type="button" class="btn btn-outline-secondary" tabindex="-1" (click)="resetUrl()">url</button>
                <input class="form-control" type="text" [(ngModel)]="url" placeholder="url addon" tabindex="2">
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <!-- <th scope="col">protocol</th> -->
                        <!-- <th scope="col">key</th> -->
                        <th scope="col">command</th>
                        <th scope="col">open url</th>
                    </tr>
                </thead>
                <tbody>
                    <tr protocol-handler *ngFor="let h of pageHandlers;let i = index" [url]="url"
                        [index]="i+pageIndex*count+1" [handler]="h"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>