<th scope="row">{{index}}</th>
<!-- <td>{{handler.protocol}}</td> -->
<!-- <td>{{handler.key | trimShellOpenCommand}}</td> -->
<td>{{handler.command}}</td>
<td>
    <!-- <span class="text-danger">{{handler.protocol}}:</span><span>{{url}}</span> -->
    <a [href]="href" class="btn btn-sm btn-outline-primary">
        <span class="text-danger">{{handler.protocol}}:</span><span>{{url}}</span>
    </a>
</td>
<td>
    <div class="btn-group">
        <a [routerLink]="['/tool', 'protocol-handlers', handler.protocol]" class="btn btn-sm btn-outline-primary">info</a>
    </div>
</td>