<ul class="pagination">
    <li class="page-item">
        <button class="page-link" (click)="changePageIndex(0)">first</button>
    </li>
    <li class="page-item" [ngClass]="{'disabled':pageIndex==0}">
        <button class="page-link" (click)="changePageIndex(pageIndex-1)">&lt;&lt;</button>
    </li>
    <li class="page-item" [ngClass]="{'disabled':pageIndex==0}">
        <button class="page-link" (click)="changePageIndex(pageIndex-1)">
            <span [ngStyle]="{'visibility': pageIndex==0 ? 'hidden' : 'visible'}">
                {{currentPage - 1}}
            </span>
        </button>
    </li>
    <li class="page-item active">
        <button class="page-link" (click)="changePageIndex(pageIndex)">
            {{currentPage}}
        </button>
    </li>
    <li class="page-item" [ngClass]="{'disabled':currentPage==pageCount}">
        <button class="page-link" (click)="changePageIndex(pageIndex+1)">
            <span [ngStyle]="{'visibility': currentPage==pageCount ? 'hidden' : 'visible'}">
                {{currentPage + 1}}
            </span>
        </button>
    </li>
    <li class="page-item" [ngClass]="{'disabled':currentPage==pageCount}">
        <button class="page-link" (click)="changePageIndex(pageIndex+1)">&gt;&gt;</button>
    </li>
    <li class="page-item">
        <button class="page-link" (click)="changePageIndex(pageCount-1)">last</button>
    </li>
</ul>